#!/bin/bash

SCRIPT_PATH=$(cd $(dirname $0); pwd)
export PYTHONPATH=$PATHONPATH:$SCRIPT_PATH/scripts
export IMAGE_PATH=$SCRIPT_PATH/images
export url="http://${target_host}/api"
export expired_token="eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1OTk2MzY2NDMsImlhdCI6MTU5OTYzMzA0MywidXNlcm5hbWUiOiJzYXdhZHkiLCJyb2xlIjoib3duZXIifQ.opVQE0FKG9caqZrgqGewJEZabHYuwzCs1M9Y_Zig3WY"
export jwt_secret_token={{ jwt_secret_token }}

cd $SCRIPT_PATH
/home/{{ admin_name }}/.local/bin/tavern-ci --tavern-global-cfg=tavern/config.yaml -W ignore::pytest.PytestDeprecationWarning
